Screen {
    align: center middle;
}

#tree {
    dock: left;
    width: 33%;
    height: 100%;
    border: solid green;
}

#body {
    width: 50%;
    height: 100%;
    border: solid green;
}

#content {
    background: $primary-background-darken-1;
    height: 100%;
}

#radio {
    width: 50%;
    height: 100%;
    border: solid green;
}

#radioSet {
    width: 100%;
    height: 99%;
}
